<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Update User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <div>
            <h2>Update Customer</h2>
            <div class="row">
                <div>
                    <form action="#" th:action="@{/{id}(id=${customer.id})}" th:object="${customer}" method="put">
                        <div class="row">
                            <div>
                                <label for="name" >Name</label>
                                <input type="text" th:field="*{name}"  id="name" placeholder="Name">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" ></span>
                            </div>
                            <div>
                                <label for="surname" >Surname</label>
                                <input type="text" th:field="*{surname}"  id="surname" placeholder="Name">
                                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" ></span>
                            </div>
                            <div>
                                <label for="email" >Email</label>
                                <input type="text" th:field="*{email}"  id="email" placeholder="Email">
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Update Customer">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>